<div class="container">
    <h1 class="container__title">Bryan Diniz Rodrigues</h1>
    <h2 class="container__subtitle">
        Sistema desenvolvido para teste de competência da empresa <a href="https://www.linkedin.com/company/info15anos/">Infosistema</a>
    </h2>

    <p class="container__text">
        O backend da aplicação foi feito com NodeJS + Express, e com dados mantidos em arquivos.
        Já o frontend em AngularJS com SASS + BEM, para manter uma melhor organização dos estilos.
    </p>

    <p class="container__links">
        <a href="https://www.linkedin.com/in/bryan-diniz/">
            <fa-icon [icon]="faLinkedin"></fa-icon> LinkedIn
        </a>
        <a href="https://github.com/obraia">
            <fa-icon [icon]="faGithub"></fa-icon> GitHub
        </a>
    </p>
</div>