<div *ngIf="veiculo.placa != null" class="container">
    <h1 class="container__title">{{veiculo.modelo}}</h1>
    <div class="container__placa">
        <div class="container__placa__local">Brasil </div>
        <div class="container__placa__identificador"> {{veiculo.placa}} </div>
    </div>
    <div class="container__spec">
        <h1 class="container__spec__tittle">Marca</h1>
        <span class="container__spec__value">{{veiculo.marca}}</span>
    </div>
    <div class="container__spec">
        <h1 class="container__spec__tittle">Chassi</h1>
        <span class="container__spec__value">{{veiculo.chassi}}</span>
    </div>
    <div class="container__spec">
        <h1 class="container__spec__tittle">RENAVAM</h1>
        <span class="container__spec__value">{{veiculo.renavam}}</span>
    </div>
    <div class="container__spec">
        <h1 class="container__spec__tittle">Ano</h1>
        <span class="container__spec__value">{{veiculo.ano}}</span>
    </div>
    <button *ngIf="veiculo.placa != 'ERR-404'" class="container__button" (click)="deletarVeiculo()">
        deletar
    </button>
</div>