$main-color: #2d3a80;
$text-color-dark: #3a3a3a;

.container {
    width: calc(100vw - 250px);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 25px;

    &__title {
        margin-bottom: 15px;
        text-align: center;
        text-transform: uppercase;
        font-weight: lighter;
        color: $main-color;
    }

    &__placa {
        width: 300px;
        height: 100px;
        background-color: #fff;
        border-radius: 15px;
        border: 3px solid $text-color-dark;
        overflow: hidden;

        &__local {
            height: 25px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #265ec7;
            color: #fff;
            font-size: 13px;
            font-weight: bold;
            text-transform: uppercase;
        }

        &__identificador {
            height: 70px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: $text-color-dark;
            font-size: 42px;
            font-weight: bold;
            text-transform: uppercase;
        }
    }

    &__spec {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 15px;
        color: $text-color-dark;

        &__tittle {
            font-weight: normal;
        }

        &__value {
            padding: 5px 10px;
            background-color: #fff;
            border: 1px solid #ccc;
        }
    }

    &__button {
        transition: 0.2s;
        margin-top: 15px;
        margin-bottom: 10px;
        padding: 15px 40px;
        background-color: #d82626;
        font-size: 18px;
        color: #fff;

        &:hover {
            transition: 0.2s;
            background-color: #d34b4b;
        }

        &:active {
            transition: 0.2s;
            background-color: #d33737;
            box-shadow: 1px 1px 3px 1px #00000060;
        }
    }
}

@media only screen and (max-width: 900px) {
    .container {
        width: 100vw;
    }
}

@media only screen and (max-width: 400px) {
    .container {
        padding: 15px 10px;

        &__title {
            font-size: 20px;
        }
    }
}
