<section class="principal">
    <h1 class="principal__title">Veículos cadastrados</h1>

    <div class="container">
        <table class="container__table" *ngIf="veiculos != null">
            <thead class="container__table__head">
                <tr class="container__table__head__row">
                    <th class="container__table__head__row__column">Id</th>
                    <th class="container__table__head__row__column">Placa</th>
                    <th class="container__table__head__row__column">Chassi</th>
                    <th class="container__table__head__row__column">RENAVAM</th>
                    <th class="container__table__head__row__column">Modelo</th>
                    <th class="container__table__head__row__column">Marca</th>
                    <th class="container__table__head__row__column">Ano</th>
                </tr>
            </thead>
            <tbody class="container__table__body">
                <tr class="container__table__body__row" *ngFor="let veiculo of veiculos" (click)="goToVeiculoInfo(veiculo)">
                    <td class="container__table__body__row__column">{{veiculo.id}}</td>
                    <td class="container__table__body__row__column">{{veiculo.placa}}</td>
                    <td class="container__table__body__row__column">{{veiculo.chassi}}</td>
                    <td class="container__table__body__row__column">{{veiculo.renavam}}</td>
                    <td class="container__table__body__row__column">{{veiculo.modelo}}</td>
                    <td class="container__table__body__row__column">{{veiculo.marca}}</td>
                    <td class="container__table__body__row__column">{{veiculo.ano}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</section>