<aside class="container" id="side-bar">
    <button class="container__button" (click)="toggleMenu(!isOpen)">
        <fa-icon [icon]="faBars"></fa-icon>
    </button>
    <a class="container__logo" (click)="goToHome()">IS</a>
    <ul class="container__list">
        <li class="container__list__item">
            <div class="container__list__item__input-group">
                <input class="container__list__item__input-group__input" type="number" placeholder="Buscar ID" (keyup.enter)="searchById(id_pesquisa.value)" #id_pesquisa>
                <button class="container__list__item__input-group__button" (click)="searchById(id_pesquisa.value)">
                    <fa-icon [icon]="faSearch"></fa-icon>
                </button>
            </div>
        </li>
        <li class="container__list__item">
            <button class="container__list__item__button" (click)="goToListaVeiculos()">
                Listar veículos
            </button>
        </li>
        <li class="container__list__item">
            <button class="container__list__item__button" (click)="goToAdicionarVeiculo()">
                Adicionar veículos
            </button>
        </li>
        <li class="container__list__item">
            <button class="container__list__item__button" (click)="goToEditarVeiculo()">
                Editar veículos
            </button>
        </li>
        <li class="container__list__item--ultimo" (click)="goToSobre()">
            <button class="container__list__item__button">
                Sobre
            </button>
        </li>
    </ul>
</aside>