$main-color: #2d3a80;
$text-color-dark: #3a3a3a;

.container {
    transition: .4s;
    width: 250px;
    min-height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #e4e4e4;

    &__button {
        display: none;
        position: absolute;
        right: -45px;
        top: 5px;
        width: 40px;
        height: 40px;
        border-radius: 5px;
        background-color: #d6d6d6;
        color: $text-color-dark;
        font-size: 22px;

        &:hover {
            transition: 0.2s;
            background-color: #ececec;
            color: $main-color;
        }

        &:active{
            transition: .2s;
            box-shadow: 0px 0px 3px 1px #00000040;
        }
    }

    &__logo {
        width: 150px;
        height: 150px;
        border-radius: 75px;
        margin: 15px 0;
        background-color: $main-color;
    }

    &__list {
        width: 100%;
        height: calc(100% - 180px);
        list-style: none;
        display: flex;
        flex-direction: column;

        &__item {
            margin-bottom: 5px;

            &--ultimo {
                margin-top: auto;
                margin-bottom: 5px;
            }

            &__button {
                width: 100%;
                height: 50px;
                background-color: #d6d6d6;
                color: $text-color-dark;
                font-size: 16px;
                font-weight: 400;

                &:hover {
                    transition: 0.2s;
                    border-left: 4px solid $main-color;
                    background-color: #ececec;
                    color: $main-color;
                }

                &:active {
                    background-color: #c7c7c7;
                }
            }

            &__input-group {
                height: 50px;
                display: flex;
                align-items: center;
                padding: 5px;

                &__input {
                    width: 100%;
                    height: 35px;
                    font-size: 14px;
                    text-indent: 10px;
                    border: none;
                    border-top-left-radius: 5px;
                    border-bottom-left-radius: 5px;
                    color: $text-color-dark;
                }

                &__button {
                    width: 40px;
                    height: 35px;
                    border-top-right-radius: 5px;
                    border-bottom-right-radius: 5px;
                    background-color: #d6d6d6;
                    color: $text-color-dark;

                    &:hover {
                        transition: 0.2s;
                        background-color: #ececec;
                        color: $main-color;
                    }
                }
            }
        }
    }
}

.container--opened{
    transition: .4s;
    left: 0 !important;
}

.container--closed{
    transition: .4s;
    left: -250px !important;
}

@media only screen and (min-width: 801px) {
    .container {
        transition: .4s;
        left: 0 !important;
    }
}

@media only screen and (max-width: 800px) {
    .container {
        transition: .4s;
        left: -250px;

        &__button{
            display: block;
        }
    }
}
