@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,400;0,600;1,300&display=swap");

$main-color: #2d3a80;
$text-color-dark: #3a3a3a;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    background-color: #f9f9f9;
}

button{
    border: none;
    outline: none;
    cursor: pointer;
}

input{
    border: none;
    outline: none;
}

a {
    text-decoration: none;
    cursor: pointer;
}

//-> Hide Arrows From Input Number

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
